<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location information
      </div>
      <div class="item item-divider">
        <h5>Our Address</h5>
          <address>
        121, Clear Water Bay Road<br>
        Clear Water Bay, Kowloon<br>
        HONG KONG<br>
        <i class="icon ion-android-call"></i>: +852 1234 5678<br>
        <i class="icon ion-printer"></i>: +852 8765 4321<br>
        <i class="icon ion-email"></i>:
        <a ui-sref="mailto:confusion@food.net">
        confusion@food.net</a>
          </address>

        <div class="button-bar">
          <a class="button button-positive icon ion-android-call">&nbsp;Call</i></a>
          <a class="button button-calm icon ion-social-skype">&nbsp;Skype</a>
          <a class="button button-balanced icon ion-android-mail">&nbsp;Email</a>
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
